@use "../partials/variables" as v;
@layer components {
	.container {
		padding: 0 1rem;
		margin: auto;

		@each $name, $value in v.$breakpoints {
			@media screen and (min-width: $value) {
				max-width: calc($value - 2rem);
			}
		}
	}
}
